body{
	margin: 0;
	padding: 0;
	border: 0;
    border: none;	
}

.navbar{
	background: linear-gradient(150deg, #302c28 55%, #5b554e 75%);
	-webkit-background: linear-gradient(150deg, #302c28 55%, #5b554e 75%);
	margin-bottom:0;
   	z-index: +1;
}

.navbar-left{
	color: white;
	text-shadow: 2px 2px black;
	margin-top: 1.5em;

}

.navbar-left:hover{
	color:white;
	text-decoration: none;
}

.navbar-left:visited{
	color:white;
	text-decoration: none;
}

.navbar-right li>a{
	
	color: white;
	font-weight: bold;
	font-size: 1.4em;
	text-shadow: 2px 2px black;
} 

.navbar-right li>a:hover{
	color: red;
	background: transparent;
	border: 0;
	transition-duration: 200ms;
    transition-timing-function: linear;
}

.navbar-right li>a:visited{
	border: 0;
	background: transparent;
}